In [75]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [76]:
# Membaca file CSV dengan pemisah titik koma
df_summary = pd.read_csv('ETL\engagementRateContent.csv', sep=';')

# Menghapus spasi dari nama kolom
df_summary.columns = df_summary.columns.str.strip()

selected_columns = ['view_count', 'like_count', 'comment_count', 'save_count', 'engagement_rate_content']
dataset = df_summary[selected_columns]

df = dataset

df.head()

    view_count  like_count  comment_count  save_count  engagement_rate_content
0   98900000.0  12000000.0       121400.0   1200000.0                 0.134696
1  111700000.0  14300000.0        61900.0    771700.0                 0.135484
2   81600000.0  11000000.0       108500.0    566900.0                 0.143081
3    5100000.0    542000.0         4952.0     19800.0                 0.111128
4    3300000.0    537000.0         3655.0     14600.0                 0.168259

In [77]:
df.shape

(3999, 5)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   view_count               3999 non-null   float64
 1   like_count               3999 non-null   float64
 2   comment_count            3999 non-null   float64
 3   save_count               3999 non-null   float64
 4   engagement_rate_content  3999 non-null   float64
dtypes: float64(5)
memory usage: 156.3 KB

In [79]:
df.describe()

,view_count,like_count,comment_count,save_count,engagement_rate_content
count,3.999000e+03,3.999000e+03,3999.000000,3.999000e+03,3999.000000
mean,1.029015e+07,1.083975e+06,8078.048012,5.730095e+04,0.332915
std,4.388284e+07,2.561053e+06,24356.284722,1.515368e+05,6.403100
min,-2.094967e+09,1.000000e+00,0.000000,0.000000e+00,-0.011525
25%,2.980500e+05,3.180000e+04,192.500000,1.185000e+03,0.074511
50%,1.600000e+06,1.585000e+05,970.000000,7.386000e+03,0.113116
75%,8.200000e+06,8.373000e+05,5061.000000,4.065000e+04,0.158539
max,7.805000e+08,3.510000e+07,586500.000000,2.800000e+06,307.300989

In [80]:
df['save_count'] = df['save_count'].astype('int').abs()
df['comment_count'] = df['comment_count'].astype('int').abs()
df['like_count'] = df['like_count'].astype('int').abs()
df['view_count'] = df['view_count'].astype('int').abs()

C:\Users\Nitro 5\AppData\Local\Temp\ipykernel_14768\2718443236.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['save_count'] = df['save_count'].astype('int').abs()
C:\Users\Nitro 5\AppData\Local\Temp\ipykernel_14768\2718443236.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['comment_count'] = df['comment_count'].astype('int').abs()
C:\Users\Nitro 5\AppData\Local\Temp\ipykernel_14768\2718443236.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_count'] = df['like_count'].astype('int').abs()
C:\Users\Nitro 5\AppData\Local\Temp\ipykernel_14768\2718443236.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['view_count'] = df['view_count'].astype('int').abs()

In [81]:
df.isnull().sum()

view_count                 0
like_count                 0
comment_count              0
save_count                 0
engagement_rate_content    0
dtype: int64

In [82]:
df.head()

   view_count  like_count  comment_count  save_count  engagement_rate_content
0    98900000    12000000         121400     1200000                 0.134696
1   111700000    14300000          61900      771700                 0.135484
2    81600000    11000000         108500      566900                 0.143081
3     5100000      542000           4952       19800                 0.111128
4     3300000      537000           3655       14600                 0.168259

In [83]:
df.head()

   view_count  like_count  comment_count  save_count  engagement_rate_content
0    98900000    12000000         121400     1200000                 0.134696
1   111700000    14300000          61900      771700                 0.135484
2    81600000    11000000         108500      566900                 0.143081
3     5100000      542000           4952       19800                 0.111128
4     3300000      537000           3655       14600                 0.168259

In [84]:
%pip install Jinja2

Requirement already satisfied: Jinja2 in c:\users\nitro 5\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (3.1.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\nitro 5\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from Jinja2) (2.1.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.3.1
[notice] To update, run: C:\Users\Nitro 5\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [85]:
df.head()

   view_count  like_count  comment_count  save_count  engagement_rate_content
0    98900000    12000000         121400     1200000                 0.134696
1   111700000    14300000          61900      771700                 0.135484
2    81600000    11000000         108500      566900                 0.143081
3     5100000      542000           4952       19800                 0.111128
4     3300000      537000           3655       14600                 0.168259

In [86]:
x = df.drop(columns='engagement_rate_content')
y = df['engagement_rate_content']

In [87]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=4)

In [88]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(3199, 4)
(3199,)
(800, 4)
(800,)

In [89]:
lin_reg = LinearRegression()

In [90]:
lin_reg.fit(x_train, y_train)

LinearRegression()

In [91]:
print(lin_reg.coef_)

[-4.94003960e-09 -1.35491529e-08 -1.01913231e-06  3.05998810e-06]

In [92]:
coef_dict = {
    'features': x.columns,
    'coef_value': lin_reg.coef_
}

coef = pd.DataFrame(coef_dict, columns=['features', 'coef_value'])
coef

        features    coef_value
0     view_count -4.940040e-09
1     like_count -1.354915e-08
2  comment_count -1.019132e-06
3     save_count  3.059988e-06

In [93]:
y_pred = lin_reg.predict(x_test)

In [94]:
lin_reg.score(x_test,y_test)

-0.002184280013289852

In [98]:
lin_reg.predict([[4000,3000,1500,500]])

C:\Users\Nitro 5\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([0.16586712])

In [100]:
import joblib

# Save the model to a file
joblib.dump(lin_reg, 'linear_regression_model.joblib')

# Load the model in another project
loaded_model = joblib.load('linear_regression_model.joblib')

# Use the loaded model to make predictions
new_data = [[4000, 3000, 1500, 500]]
prediction = loaded_model.predict(new_data)

print(f"Predicted engagement rate: {prediction}")

Predicted engagement rate: [0.16586712]

C:\Users\Nitro 5\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(